.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.grid div {
    width: 100%;
    height: 200px;
    background-color: lightgrey;
}