@import url(https://fonts.googleapis.com/css?family=Gabriela:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Gabriela;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.title {
    background-color: white;
    width: 6em;
    padding: .4em;
}

.white-space {
    font-size: 14pt;
    letter-spacing: 1pt;
    background-color: dimgrey;
    color: white;
    user-select: none;
    height: 100vh;
    width: 14em;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-shrink: 0;
}

.links {
    display: flex;
    flex-flow: column;
    list-style: none;
    width: 100%;
    padding: 2em;
}

.photo,
.links {
    padding: 2em 2em 0 2em;
}

.links li {
    border-bottom: 1px solid lightgray;
    list-style-type: none;
}

.links li a {
    display: block;
    width: 100%;
    padding: 1em;
}

.me {
    width: 100%;
    border-radius: 50%;
    -webkit-user-drag: none;
    box-shadow: 0px 6px 6px rgb(75, 75, 75);
}

.main {
    background-color: rgba(105, 105, 105, 0.219);
    width: 100%;
    height: 100%;
    padding: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

.content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    font-size: 14pt;
    letter-spacing: 1pt;
    color: black;
    padding: 2em;
}

.sm-scroll::-webkit-scrollbar {
    width: .1em;
}

.scroll::-webkit-scrollbar {
    width: .5em;
}

.scroll::-webkit-scrollbar-track {
    background-color: rgba(105, 105, 105, 0.548);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: dimgrey;
}

#menu {
    display: none;
    position: fixed;
    bottom: 0em;
    left: -1.5em;
}

.material-symbols-outlined {
    font-size: 5em;
}

@media only screen and (max-width: 680px) {

    #menu {
        display: block;
    }

    .white-space {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0em;
        width: 0vw;
        z-index: 1;
        transition: width .500s;
    }

    .animate {
        overflow: scroll;
        width: 100%;
        transition: width .500s;
    }
}

@media only screen and (max-width: 408px) {

    .content {
        padding: 1em;
    }
}